.main {
    @media (min-width: 50rem){
        position: relative;
        max-width: calc(60%);
    }

    @media (min-width: 66.5rem){
        margin-left: calc( 264px);
    }
}

.side-bar {
    @media (min-width: 66.5rem){
        width: auto;
        min-width: 264px;
    }
}

code {
    white-space : pre-wrap !important;
}

.method-label{
    color: rgb(194, 38, 10);
    font-size: 0.9em;
    font-weight: 800
  }

.csk-label{
    // color: rgb(194, 38, 10);
    font-size: 0.9em;
    font-weight: 800
  }