.main {
    @media (min-width: 50rem){
        position: relative;
        max-width: calc(80%);
    }

    @media (min-width: 66.5rem){
        margin-left: calc( 264px);
    }
}

.side-bar {
    @media (min-width: 66.5rem){
        width: auto;
        min-width: 264px;
    }
}